
.navbar {
  width: 100%;
  padding: 1rem;
  background-color: #fabe58;
  display: flex;
}

.navbar-spacer {
  width: 25%;
}

.navbar-heading {
  display: flex;
  font-size: 2.5rem;
  width: 75%;
  justify-content: center;
}

.navbar-heading a {
  color: black;
  text-decoration: none;
}

.navbar-heading h4 {
  margin: .5rem 0rem;
}

.navbar-search-bar {
  width: 25%;
  margin: .5rem;
  display: flex;
  padding-right: 2rem;
}

.search-bar {
  display: block;
  align-items: center;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-color: #ccc;
  border-radius: .25rem;
  /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

@media only screen and (max-width: 700px) {
  .navbar {
    flex-wrap: wrap;
  }
  .navbar-spacer {
    width: 0%;
    padding: 0;
  }

  .navbar-heading {
    width: 100%;
  }

  .navbar-search-bar {
    width: 100%;
    justify-content: center;
  }

  .search-bar {
    width: 70%;
  }
}
